.pattern {
  background-image: url("./img/background.jpeg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  padding-left: 1.5rem;
  padding-top: 1em;
}
.card-text {
  float: top;
}
.card-img {
  inline-size: 15rem;
}
.bottom-line {
  height: 2px;
  width: 32rem;
  display: block;
  background: lightgrey;
  margin: 0 auto 1rem auto;
}
