/* Media Queries */
@media (max-width: 768px) {
  #fourth {
    margin-top: 14px;
  }
}
@media (max-width: 768px) {
  .img350 {
    inline-size: 250px;
  }
}
@media (max-width: 375px) {
  .bottom-line-portfolio {
    justify-items: center;
  }
}
@media (max-width: 375px) {
  #smaller-device1 {
    margin-bottom: 20px;
    padding-left: 3rem;
  }
  #smaller-device2 {
    padding-left: 40px;
  }
  #smaller-device3 {
    padding-left: 46px;
  }

  #smaller-device5 {
    margin-top: 50px;
    padding-left: 60px;
  }
}

body {
  background-image: url("./img/background.jpeg");
  background-size: cover;
  padding-bottom: 120px;
}

.card-text {
  float: top;
}
.card-img {
  inline-size: 200px;
}

.bottom-line {
  height: 2px;
  width: 95%;
  display: block;
  background: lightgrey;
  margin: 0 auto 1rem auto;
}
.bottom-line-portfolio {
  height: 2px;
  width: 95%;
  display: block;
  background: lightgrey;
  margin: 0 auto 0.25rem auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100%;
}
.thick-border {
  border-width: 3px;
}
.img350 {
  height: 250px;
  width: 250px;
}
/* Style all font awesome icons */
.fa {
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
